*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(130, 209, 209);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banda1{
    display: block;
    background-color: bisque;
    padding: 2rem;
    width: 25rem;
    height: 20rem;
    text-align: center;
    border: solid 2px red;
    color: rgb(189, 149, 17);
    margin: 1px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.banda2{
    display: block;
    background-color: bisque;
    padding: 2rem;
    width: 25rem;
    height: 20rem;
    text-align: center;
    border: solid 2px red;
    color: rgb(189, 149, 17);
    margin: 1px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.banda3{
    display: block;
    background-color: bisque;
    padding: 2rem;
    width: 25rem;
    height: 20rem;
    text-align: center;
    border: solid 2px red;
    color: rgb(189, 149, 17);
    margin: 1px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
ol ol{
    color: rgb(233, 8, 8);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
    padding: 1rem;
}
.tablenig{
    background-color:rgb(17, 54, 122);
    border: solid 2px red;
    margin: 1px;
    width: 40rem;
    height: 20rem;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: blanchedalmond;
}
.tableher{
    background-color:rgb(17, 54, 122);
    border: solid 2px red;
    margin: 1px;
    width: 40rem;
    height: 20rem;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: blanchedalmond;
}
.tabletok{
    background-color:rgb(17, 54, 122);
    border: solid 2px red;
    margin: 1px;
    width: 40rem;
    height: 20rem;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: blanchedalmond;
}
img{
    width: 4rem;
    height: 2rem;
}
caption{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: oblique;
    color: darkred;
}
tr>th{
    color: rgb(15, 173, 221);
}
ol>li{
    font-weight: bolder;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
th, td{
    border: 1px solid blue;
}
h2{
    color: chocolate;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-family: cursive;
    margin-bottom: 1rem;
}
li>ul{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 100;
    color: rgb(233, 82, 12);
}